<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <script src="/js/register.js"></script>
</head>
<body>
  <%- include('navbar', {user:user} ) -%>
    <div class="main">
        <div class="profile-image">
            <img width="110px"src="https://cdn0.iconfinder.com/data/icons/phosphor-regular-vol-5/256/user-plus-512.png" alt="">
        </div>
        <script>
            //let cpassword = cfpassword.value 
            
        </script>
        <form class="register-container" method="POST" action="/register">
            <% if (locals.register_error) { 
                register_error.forEach(function(error_msg){ %>
                <div class="alert alert-danger" role="alert"><%= error_msg %></div>
              <% });
              } %>  
            <h1 id="register-title">
                REGISTER
            </h1>
            <div id="name">
                <input type="text" class="input-box-name" id="input-fname" name="fname" required>
                </input>
                <span class="placeholder-name" id="fname" name="fname" >First Name</span>
                <input type="text" class="input-box-name" id="input-lname" name="lname" required>
                </input>
                <span class="placeholder-name" id="lname" name="lname">Last Name</span>
            </div>
            <!-- <div class="data-input">
                <input type="text" class="input-box" id="input-username" required>
                </input>
                <span class="placeholder">Username</span>
                <div class="data-img" id="username-img">
                </div>
            </div> -->
            <div class="data-input">
                <input type="number" class="input-box" name="phone" id="input-email" required>
                </input>
                <span class="placeholder">Phone</span>
                <div class="data-img" id="phone-img">
                </div>
            </div>
            <div class="data-input">
                <input type="text" class="input-box" name="email" id="input-email" required>
                </input>
                <span class="placeholder">Email</span>
                <div class="data-img" id="email-img">
                </div>
            </div>
            <div class="data-input">
                <input type="password" class="input-box" name="password" id="input-password" required>
                </input>
                <span class="placeholder">Password</span>
                <div class="data-img password-img">
                </div>
                <a id="closing-password" onclick="closing_password()">
                </a>
            </div>
            <div class="data-input">
                <input type="password" class="input-box" name="cfpassword" id="input-cfpassword" required>
                </input>
                <span class="placeholder">Confirm Password</span>
                <div class="data-img password-img">
                </div>
                <a id="closing-cfpassword" onclick="closing_cfpassword()">
                </a>
            </div>
            
            <div class="buttons">
                <button class="button" type="submit" id="register-btn">
                    REGISTER
                </button> 
            </div>
        </form>
        <%- include('footer') -%>
</body>
</html>