<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/reportForm.css">
  </head>
  <body>
    <!-- NavBar -->
    <%- include('navbar') -%>

    <div class="containerCss">
        <h1 class="titleForm">แบบฟอร์มร้องเรียน</h1>
        <form action="/sendprob" method="POST" enctype="multipart/form-data" class="formContainer">
            <div style="position: relative;">
              <p>COMPLAINT TYPE</p>
                <select name="type" class="inputFieldForm" required>
                  <option disabled selected value="">Please select type</option>
                  <option value="1">Deserted Area</option>
                  <option value="2">Defective Area</option>
                  <option value="3">Illegal Area</option>
                  <option value="4">Traffic Offenders</option>
                  <option value="5">Non-standard Products</option>
                  <option value="6">Illegal Items</option>
                  <option value="7">Fraud/Corruption</option>
                  <option value="8">Other</option>
                </select>
                <hr>
            </div>
            <div>
                <div style="padding-top: 1.25rem;">
                    <p>ACCUSED : 
                        <input type="text" name="accused" class="inputFieldForm" required size="30" placeholder="accused">
                    </p> 
                </div>
                <div style="padding-top: 1.25rem;">
                    <p>ACCUSED DETAIL :
                        <input type="text" name="accused_detail" class="inputFieldForm" size="30" placeholder="accused detail">
                    </p>
                </div>
                <hr>
            </div>
            <div class="form-line-1">
                <div style="padding-top: 1.25rem;">
                    <p>STREET ADDRESS</p>
                    <input type="text" class="inputFieldForm" required name="address" size="30" placeholder="street address">
                </div>
                <div style="padding-top: 1.25rem;">
                    <div class="relative">
                        <p>PROVINCE</p>
                        <select name="province" class="inputFieldForm" required >
                            <option disabled selected value="">Please select province</option>
                            <option value="Bangkok">Bangkok</option>
                            <option value="Kanchanaburi">Kanchanaburi</option>
                            <option value="Chanthaburi">Chanthaburi</option>
                            <option value="Chachoengsao">Chachoengsao</option>
                            <option value="Chon Buri">Chon Buri</option>
                            <option value="Chai Nat">Chai Nat</option>
                            <option value="Trat">Trat</option>
                            <option value="Nakhon Nayok">Nakhon Nayok</option>
                            <option value="Nonthaburi">Nonthaburi</option>
                            <option value="Pathum Thani">Pathum Thani</option>
                            <option value="Prachuap Khiri Khan">Prachuap Khiri Khan</option>
                            <option value="Prachin Buri">Prachin Buri</option>
                            <option value="Phra Nakhon Si Ayutthaya">Phra Nakhon Si Ayutthaya</option>
                            <option value="Phetchaburi">Phetchaburi</option>
                            <option value="Rayong">Rayong</option>
                            <option value="Ratchaburi">Ratchaburi</option>
                            <option value="Lop Buri">Lop Buri</option>
                            <option value="Samut Prakan">Samut Prakan</option>
                            <option value="Samut Songkhram">Samut Songkhram</option>
                            <option value="Samut Sakhon">Samut Sakhon</option>
                            <option value="Saraburi">Saraburi</option>
                            <option value="Sing Buri">Sing Buri</option>
                            <option value="Suphan Buri">Suphan Buri</option>
                            <option value="Ang Thong">Ang Thong</option>
                            <option value="Sa Kaeo">Sa Kaeo</option>
                            <option value="Kalasin">Kalasin</option>
                            <option value="Khon Kaen">Khon Kaen</option>
                            <option value="Chaiyaphum">Chaiyaphum</option>
                            <option value="Yasothon">Yasothon</option>
                            <option value="Nakhon Phanom">Nakhon Phanom</option>
                            <option value="Nakhon Ratchasima">Nakhon Ratchasima</option>
                            <option value="Buri Ram">Buri Ram</option>
                            <option value="Maha Sarakham">Maha Sarakham</option>
                            <option value="Roi Et">Roi Et</option>
                            <option value="Loei">Loei</option>
                            <option value="Si Sa Ket">Si Sa Ket</option>
                            <option value="Sakon Nakhon">Sakon Nakhon</option>
                            <option value="Surin">Surin</option>
                            <option value="Nong Khai">Nong Khai</option>
                            <option value="Udon Thani">Udon Thani</option>
                            <option value="Ubon Ratchathani">Ubon Ratchathani</option>
                            <option value="Mukdahan">Mukdahan</option>
                            <option value="Amnat Charoen">Amnat Charoen</option>
                            <option value="Nong Bua Lam Phu">Nong Bua Lam Phu</option>
                            <option value="Kamphaeng Phet">Kamphaeng Phet</option>
                            <option value="Chiang Rai">Chiang Rai</option>
                            <option value="Chiang Mai">Chiang Mai</option>
                            <option value="Tak">Tak</option>
                            <option value="Nakhon Sawan">Nakhon Sawan</option>
                            <option value="Nan">Nan</option>
                            <option value="Phichit">Phichit</option>
                            <option value="Phitsanulok">Phitsanulok</option>
                            <option value="Phetchabun">Phetchabun</option>
                            <option value="Phrae">Phrae</option>
                            <option value="Mae Hong Son">Mae Hong Son</option>
                            <option value="Lampang">Lampang</option>
                            <option value="Lamphun">Lamphun</option>
                            <option value="Sukhothai">Sukhothai</option>
                            <option value="Uttaradit">Uttaradit</option>
                            <option value="Uthai Thani">Uthai Thani</option>
                            <option value="Phayao">Phayao</option>
                            <option value="Krabi">Krabi</option>
                            <option value="Chumphon">Chumphon</option>
                            <option value="Trang">Trang</option>
                            <option value="Nakhon Si Thammarat">Nakhon Si Thammarat</option>
                            <option value="Narathiwat">Narathiwat</option>
                            <option value="Pattani">Pattani</option>
                            <option value="Phangnga">Phangnga</option>
                            <option value="Phatthalung">Phatthalung</option>
                            <option value="Phuket">Phuket</option>
                            <option value="Yala">Yala</option>
                            <option value="Ranong">Ranong</option>
                            <option value="Songkhla">Songkhla</option>
                            <option value="Satun">Satun</option>
                            <option value="Surat Thani">Surat Thani</option>
                        </select>
                    </div>
                    
                </div>
                <div style="padding-top: 1.25rem;">
                    <p>DISTRICT</p>
                    <input type="text" name="district" class="inputFieldForm" required size="30" placeholder="district">
                </div>
                <div style="padding-top: 1.25rem;">
                    <p>SUB-DISTRICT</p>
                    <input type="text" name="subdistrict" class="inputFieldForm" required size="30" placeholder="sub-district">
                </div>
            </div>
            <hr style="margin-top: 1.25rem; ">
            <div class="form-line-2">
                <div style="padding-top: 1.25rem;">
                    <div style="position: relative;">
                        <p>DATE and TIME</p>
                        <input type="datetime-local" name="date" class="inputFieldForm" required size="30">
                    </div>
                </div>
            </div>
            <hr style="margin-top: 1.25rem; ">
            <div class="form-line-2">
                <div style="padding-top: 1.25rem;">
                    <div style="position: relative;">
                        <p>IMAGE</p>
                        <input type="file" class="inputFieldForm" multiple="multiple" name="prob_img" size="30">
                    </div>
                </div>
            </div>
            <hr style="margin-top: 1.25rem; ">

            <div style="padding-top: 1.25rem;">
                <p>DESCRIPTION:</p>
                <textarea type="text" value="" class="input-descript" name="desc" cols="60" rows="3.5" required placeholder="Description"></textarea>
            </div>
            <hr style="margin-top: 1.25rem; ">

            <div style="display: flex; justify-content: flex-end; padding-bottom: 2em;">
                <button class="btn-submit">Submit</button>
            </div>
        </form>
    </div>
    <%- include('footer') -%>
  </body>
</html>
